APP_NAME="Invito compleanno"
APP_ENV=production
APP_KEY=INSERISCI_LA_CHIAVE_GENERATA_IN_LOCALE
APP_DEBUG=false
APP_URL=https://www.example.it
APP_LOCALE=it
APP_FALLBACK_LOCALE=it
APP_TIMEZONE=Europe/Rome

LOG_CHANNEL=single
LOG_LEVEL=error

DB_CONNECTION=mysql
DB_HOST=INSERISCI_HOST_MYSQL_ARUBA
DB_PORT=3306
DB_DATABASE=INSERISCI_NOME_DATABASE
DB_USERNAME=INSERISCI_UTENTE_DATABASE
DB_PASSWORD="INSERISCI_PASSWORD_DATABASE"
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null
SESSION_SECURE_COOKIE=true
SESSION_SAME_SITE=lax

CACHE_STORE=file
QUEUE_CONNECTION=sync
FILESYSTEM_DISK=local

EMAIL="INSERISCI_EMAIL_AREA_RISERVATA"
PASSWORD="INSERISCI_PASSWORD_AREA_RISERVATA"
